/* Centering contents of the page */
body {
    margin: 0;
    background: #f1f1f1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


/* importing custom fonts */

@font-face {
    font-family: 'arvo';
    src: url(fonts/arvo/Arvo-Regular.ttf);
}

@font-face {
    font-family: 'nunito';
    src: url(fonts/nunito/Nunito-VariableFont_wght.ttf);
}

@font-face {
    font-family: 'Source Code Pro';
    src: url(fonts/Source_Code_Pro/SourceCodePro-VariableFont_wght.ttf);
}


/* Styling the main div(has 2 direct child divs, left and right), 70% for width to make it responsive */

.main {
    background-color: #ffffff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.445);
    height: 540px;
    width: 70%;
    padding: 10px;
    border-radius: 15px;
    display: flex;
    flex-wrap: nowrap;     /* won't wrap the divs when the width is reduced*/ 
}

/* Setting the theme of the input types */

input {
    accent-color: #0059ff;
}


/* Styling the div that contains the form */
.left {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 10px;
}


/* Styling the header */

h1 {
    padding-bottom: 7px;
    font-family: 'arvo';
    font-weight: 300;
    border-bottom: 2px solid #00aeff;
    width: fit-content;
}


/* Setting the font family and weight of the labels of the input fields */

label {
    font-family: 'Source Code Pro';
    font-weight: 500;
}


/* Styles the division on the right */

.right {
    width: 50%;
    height: 100%;
    background: #00aeff;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.7s;
    cursor: pointer;
}

/* Hover effects on the right div */

.right:hover{
    background: none;
    border:1px solid #0059ff;
    width: 60%;
    height: 102%;
    position: relative;
    bottom: 5px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);

}

/* Setting input fields and their labels to be diplayed in a vertical direction */
form>div {
    margin: 5px;
    display: flex;
    flex-direction: column;      /* So that flex does not display contents in line but vertically instead */
}

/* Styling the text and password boxes uniformly */

input[type="text"],
input[type="password"] {
    width: 235px;
    height: 30px;
    margin: 3px 0;
    background: none;
    border: 1.6px solid #3d3d3d;
    border-radius: 4px;
}


/* labels to the radio buttons */

#label_male,
#label_female {
    font-family: 'Source Code Pro';
    color: #3d3d3d;
}


/* Styles for the sign up button */

button {
    height: 35px;
    padding: 5px;
    width: 112px;
    border-radius: 5px;
    border: none;
    margin-right: 5px;
    transition: 0.3s;
    cursor: pointer;
    background: #00aeff;
    color: #fff;
    font-family: 'Source Code Pro';
    font-weight: 600;
}


/* hover effect for sign up button */
button:hover {
    background: #0094d8;
}

/* Styling the main div of the circle logo on the right div */

.outer_circle {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    padding: 15px;
    background: #fff;
}

 /* Styling the inner circle of the logo */

.circle_deco {
    height: 100%;
    width: 100%;
    background: linear-gradient(to right, #00aeff 50%, white 50%);
    border-radius: 50%;
    transform: rotate(270deg);
}



/* CSS for the profile created */
.profile-container {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 450px;
  }

  .profile-header {
    text-align: center;
    margin-bottom: 20px;
  }


  .profile-info {
    margin-bottom: 20px;
  }

  .profile-section {
    margin-bottom: 15px;
  }

  label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }

  p {
    margin: 0;
  }



/* Styles for smaller screens and windows */

@media (max-width: 673px) {
    .main {
        width: 70%;
        display: flex;
        justify-content: center;
    }

    /* Removing the right div on smaller screens as it isn't necessary */

    .right {
        display: none;
    }
    .left {
        width: 90%;
        display: flex;
        align-items: center;
    }
}